.header {
  .left {
    .logo {
      img {
        width: 100%;
      }
    }
  }
  .right {
    .menu {
      ul {
        li {
          a {
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

body {
  background: rgb(184, 76, 4);
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.5rem;
}
